@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* Set the header to a relative position */
.header {
    position: relative;
    height: 700px;
    background-color: #333;
    color: #fff;
}

/* Style the header image */
.header__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5) contrast(1.3);

}

/* Center the header text in the middle of the header */
.header__text {
    position: absolute;
    bottom: 20%;
    left: 10%;
    transform: translate(-40%, 30%);
    text-align: center;
}

/* Style the header title */
.header__title {
    font-size: 5rem;
    margin-bottom: .2rem;
    color: #f2f2f2;
    font-family: 'Creepster', cursive;
    font-weight: lighter;
}

/* Style the header subtitle */
.header__subtitle {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 3rem;
    color: #f2f2f2;
    width: 50%;
    position: relative;
    left: 70%;
    text-align: left;
    transform: translateX(-50%);
    font-family: 'Nunito Sans', sans-serif;
}

.rating {
    color: #f2f2f2;
}

.genres {
    display: flex;
    justify-content: center;
}

.genres li {
    list-style-type: none;
    margin-left: 5px;
    color: #00ffbf;
    padding-right: 4px;
    font-size: 15px;
}

.genres li:nth-child(-n+2) {
    border-right: #fff 1px solid;
}

/* Style the header button */
.header__button {
    padding: .7rem 2rem;
    font-size: 1.5rem;
    border: 1px solid white;
    border-radius: 2rem;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 2sec;
}

/* Change header button background color and text color on hover */
.header__button:hover {
    background-color: #f2f2f2;
    color: #333;
}

/* Adjust positioning of header text for smaller screens */
@media screen and (max-width: 768px) {
    .header__text {
        bottom: 20%;
        left: 30%;
    }

    .header__subtitle {
        width: 90%;
        font-size: smaller;
    }
}