@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Oswald:wght@200;400&display=swap');

.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #190401;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;

}

.Navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar-menu.is-open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #EDB16F;
}

.Navbar-item {
  margin-right: 20px;
  display: flex;
  /* new */
  justify-content: center;
  /* new */
}

.Navbar-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 15px;
  /* new */
  padding: 10px;
  box-shadow: 5px 0px 0px 0px
}



.Navbar-search-form {
  display: flex;
  align-items: center;
}

.Navbar-search-input {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  margin-right: 10px;
}

.Navbar-search-button {
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.Navbar-toggle {
  display: none;
  padding-bottom: 0px;
}

.Navbar-logo {
  max-width: 100%;
  height: auto;
  max-height: 50px;
  /* adjust as needed */
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .test {
    display: flex;
    flex-direction: column;
  }

  .Navbar {
    bottom: 0px;
    position: static;
  }


  .Navbar-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .Navbar-search-form {
    margin-top: 10px;
    margin-left: 0;
  }

  .Navbar-search-input {
    width: 100%;
  }

  .Navbar-toggle {
    display: block;
    position: absolute;
    top: 20px;
    padding-bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 999;
  }

  .Navbar-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: relative;
    transition: transform 0.2s ease-out;
  }

  .Navbar-toggle span:first-child {
    transform: translateY(-3px);
  }

  .Navbar-toggle span:last-child {
    transform: translateY(3px);
  }

  .Navbar-menu {
    display: none;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
  }

  .Navbar-menu.is-open {
    display: flex;
    top: 0px;
  }
}